* {
	font-family: arial;

	background-color: #888;
	/*shortened from #838383 to #888,
	and all other hex values were
	shortened to their respective
	approximate 3 digit hex codes
	where possible. :)*/
}

.section {
	max-width: 50%;
	margin: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.border {
	border-style: dotted;
	border-width: 2px;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 480px;
}

a {
	color: #328;
}

h1 {
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	background-color: #303030;
	color: #fff;
}

h2 {
	background-color: #555;
	color: #eee;
	text-align: center;
}